# Aula 3

## Episódio 4

In [1]:
comprimento = 0
palavra = 'BOLA'
for letra in palavra:
    print(letra)
    comprimento = comprimento + 1
    

print('A palavra', palavra, 'tem', comprimento, 'letras')

B
O
L
A
A palavra BOLA tem 4 letras

In [2]:
len(palavra)

4

In [3]:
for i in range(1, 4):
    print(i)

1
2
3

In [4]:
print(5 ** 3)

125

In [5]:
x = 1
for _ in range(3):
    x = x * 5
print(x)

125

In [6]:
palavra = 'bola'
for n, letra in enumerate(palavra, 1001):
    print(n, '->', letra)

1001 -> b
1002 -> o
1003 -> l
1004 -> a

In [7]:
for treco in [('laranja', 3.00), ('melancia', 4.5), ('banana', 1.95)]:
    print(treco)

('laranja', 3.0)
('melancia', 4.5)
('banana', 1.95)

In [8]:
for fruta, preço in [('laranja', 3.00), ('melancia', 4.5), ('banana', 1.95)]:
    print(fruta, 'R$', preço)

laranja R$ 3.0
melancia R$ 4.5
banana R$ 1.95

In [9]:
with open('letras.txt', 'w') as arq:
    for n, letra in enumerate(palavra, 1001):
        arq.write(str(n) + ' -> ' + letra + '\n')

In [10]:
# arq.write?

### Exercícios

#### Exponenciação na unha

In [11]:
5 ** 3

125

In [12]:
resultado = 1
expoente = 3
base = 5
for _ in range(expoente):
    resultado = resultado * base
resultado

125

#### Invertendo uma String na unha

In [13]:
original = 'Newton'
invertida = ''
for letra in original:
    invertida = letra + invertida
invertida

'notweN'

#### Computando o Valor de um Polinômio

Vamos aproveitar para mostrar como escrever fórmulas em **MathJax**, um **LaTeX** simplificado que vem integrado ao **Jupyter Notebook** [(documentação)](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html#LaTeX-equations).

$$y = ax^3 + bx^2 + cx + d$$

Já que vamos receber os coeficientes em uma lista `c`, teremos algo mais parecido com isso:

\begin{equation}
y = c_3x^3 + c_2x^2 + c_1x + c_0
\end{equation}

O exemplo abaixo em Python corresponde a esse polinômio $y = 2 + 4x + 3x^2$

In [14]:
x = 5
coefs = [2, 4, 3, 7]
y = coefs[0] * x**0 + coefs[1] * x**1 + coefs[2] * x**2 + coefs[3] * x**3
y

972

In [15]:
x = 5
coefs = [2, 4, 3, 7]
y = 0
for expoente, coeficiente in enumerate(coefs):
    y = y + coeficiente * x ** expoente
y

972

## Episódio 5

In [16]:
ímpares = [1, 3, 5, 7]
print(ímpares)

[1, 3, 5, 7]

In [17]:
ímpares = list(range(1, 8, 2))
print(ímpares)

[1, 3, 5, 7]

In [18]:
print('primeiro elemento:', ímpares[0])
print('último elemento:', ímpares[3])
print('elemento "-2":', ímpares[-2])

primeiro elemento: 1
último elemento: 7
elemento "-2": 5

In [19]:
for n in ímpares:
    print(n)

1
3
5
7

In [20]:
nomes = ['Curie', 'Darwing', 'Turing']  # erro no nome de Darwin
print('nomes (valor inicial):', nomes)
nomes[1] = 'Darwin'  # corrigir o erro
print('final value of names:', nomes)

nomes (valor inicial): ['Curie', 'Darwing', 'Turing']
final value of names: ['Curie', 'Darwin', 'Turing']

In [21]:
s = 'Python'
# s[1] = 'x'  # TypeError:  'str' object does not support item assignment

In [22]:
salsa = ['peppers', 'onions', 'cilantro', 'tomatoes']
minha_salsa = salsa[:]
minha_salsa[0] = 'pimenta malagueta'
minha_salsa

['pimenta malagueta', 'onions', 'cilantro', 'tomatoes']

In [23]:
salsa

['peppers', 'onions', 'cilantro', 'tomatoes']

In [24]:
x = [10, 20, 30, 40]

In [25]:
y = x

In [26]:
y

[10, 20, 30, 40]

In [27]:
x[2] = 99

In [28]:
y

[10, 20, 99, 40]